<div *ngIf="isLoggedIn">
    Welcome, user!
</div>

<div *ngIf="!isLoggedIn">
    Please log in.
</div>

<ng-template *ngIf="condition">
    Content to render when condition is true using template.
</ng-template>

<div *ngIf="condition; else elseBlock">
    Content to render when condition is true using template.
</div>

<ng-template #elseBlock>Content to render when condition is false.</ng-template>

<!-- <div *ngIf="condition; then thenBlock else elseBlock"></div>
<ng-template #elseBlock>Content to render when condition is true using thenBlock.</ng-template>
<ng-template #elseBlock>Content to render when condition is false using elseBlock.</ng-template> -->

<ul>
    <li *ngFor="let fruit of fruits">{{ fruit }}</li>
</ul>