<section class="education__section">
  <h2 class="mb-s">Academic History</h2>
  <div class="education__block__container">
    <div class="education__block">
      <div class="education__school">
        <p class="semi-title">Holy Angel University</p>
        <p style="font-style: italic">BSIT Major in Web Development</p>
        <p>2022-2026</p>
      </div>
      <div class="education__details">
        <p class="lh-20">
          Currently pursuing a Bachelor of Science in Information Technology,
          majoring in Web Development. My studies focus on advanced web
          development technologies, programming, and software engineering
          principles. This experience has equipped me with technical expertise
          and practical skills in designing, developing, and deploying web-based
          applications.
        </p>
      </div>
    </div>
    <div class="education__block">
      <div class="education__school">
        <p class="semi-title">Pampanga High School</p>
        <p>2016-2022</p>
      </div>
      <div class="education__details">
        <p class="lh-20">
          Completed both junior and senior high school education with a focus on
          preparing for tertiary education. During this time, I developed strong
          foundational knowledge in technology and problem-solving, participated
          in extracurricular activities, and cultivated a passion for learning
          and collaboration.
        </p>
      </div>
    </div>
    <div class="education__block">
      <div class="education__school">
        <p class="semi-title">San Fernando Elementary School</p>
        <p>2008-2016</p>
      </div>
      <div class="education__details">
        <p class="lh-20">
          Laid the groundwork for my education, honing critical thinking and
          communication skills. These formative years introduced me to the value
          of perseverance, curiosity, and building meaningful connections with
          peers and mentors.
        </p>
      </div>
    </div>
  </div>
</section>
