<section class="featured flex w-screen bg-cover bg-center p-32">
    <div class="featured-image w-1/2 flex justify-center items-center">
        <img src="assets/images/hero.svg" alt="" class="w-9/12">
    </div>
    <div class="featured-content w-1/2 flex flex-col justify-center">
        <h1 class="text-purple-700 text-5xl font-bold mb-10">Automating Google Workspace</h1>
        <p class="text-lg mb-5">Streamline your workflow by automating tasks across Google Cloud, Gmail, Sheets, and more, saving time and boosting productivity.</p>
        <button class="bg-purple-600 py-3 px-10 text-white uppercase font-semibold self-start rounded-md">Automate now</button>
    </div>
</section>