<div class="container text-center">
    <div class="row">
        <h3>Component 3 - Grid Columns</h3>
      <div class="col">
        First in DOM, no order applied
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt nisi inventore voluptatum ipsa laudantium dolore repellat, saepe amet aperiam voluptates quaerat odit veritatis pariatur cum ea! Voluptate mollitia explicabo exercitationem?
      </div>
      <div class="col order-5">
        Second in DOM, with a larger order
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius non omnis veniam modi officia accusantium accusamus laborum tempora nemo odio, impedit minus corrupti corporis pariatur voluptatibus, illum aperiam nisi delectus?
      </div>
      <div class="col order-1">
        Third in DOM, with an order of 1
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eius delectus beatae? Assumenda, aperiam facere sunt porro eveniet autem nulla quibusdam incidunt id sed sapiente, deserunt inventore laborum! Molestias, impedit.
      </div>
    </div>
  </div>