<section class="personal__info__section">
  <div>
    <img src="assets/images/pic-resume-1x1.jpg" alt="my image here" />
  </div>
  <div class="personal__info__details">
    <h1>Luis Miguel I. Cayanan</h1>
    <h2 class="mb-s">Web Developer</h2>
    <p class="w-500 lh-20">
      A web developer skilled in creating functional and userfriendly websites
      with good design. I am driven to build web solutions that seamlessly
      incorporate data automation for efficiency and practicality. My goal is to
      combine innovative web development with smart automation to enhance
      usability and productivity.
    </p>
  </div>
  <div class="contact">
    <h2 class="mb-m">Contact</h2>
    <p>Phone: +63 948-821-1588</p>
    <p>Email: lmicayanan&#64;gmail.com</p>
    <p>
      LinkedIn:
      <a href="www.linkedin.com/in/lmcay" target="_blank"
        >www.linkedin.com/in/lmcay</a
      >
    </p>
    <p>
      Github:
      <a href="www.github.com/lmcay" target="_blank">www.github.com/lmcay</a>
    </p>
  </div>
</section>
