<section class="work__section">
  <h2 class="mb-s">Work/Project Experience</h2>
  <div class="work__block__container">
    <div class="work__block">
      <div class="work__experience">
        <p class="semi-title">Satori Coffee (2022-2023)</p>
        <p>Dynamic Web Applications and Development Tools</p>
      </div>
      <div class="work__details">
        <p class="lh-20">
          Built backend login and registration with CRUD functionality using PHP
          and MySQL;refined frontend code to display real-time product updates
        </p>
      </div>
    </div>
    <div class="work__block">
      <div class="work__experience">
        <p class="semi-title">Diaserv Website (2024)</p>
        <p>Web server and Client Services</p>
      </div>
      <div class="work__details">
        <p class="lh-20">
          Using the MEVN stack. Full-stack web application for a diagnostic
          laboratory,featuring website components, database integration, and
          CRUD functionality.
        </p>
      </div>
    </div>
  </div>
</section>
