.work__block {
  display: flex;
  gap: 2rem;
}

.work__experience {
  width: 30%;
}

.work__details {
  width: 70%;
}

.work__block__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
