/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f6f1;
  text-decoration: none;
  list-style-type: none;
}

h1,
h2 {
  color: #623e2a;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
}

hr {
  max-width: 500px;
  border: 1px solid #623e2a;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mb-m {
  margin-bottom: 30px;
}

.mb-s {
  margin-bottom: 20px;
}

.w-500 {
  width: 500px;
}

.lh-20 {
  line-height: 20px;
}

.lh-30 {
  line-height: 30px;
}

.semi-title {
  font-weight: bold;
  color: #623e2a;
}
